@import "./vars.scss";

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
}
.list-move, /* применять переход к движущимся элементам */
.list-enter-active,
.list-leave-active {
    transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateX(30px);
}

/* убедитесь, что удаляющиеся элементы выведены из потока, чтобы 
анимации перемещения могли быть рассчитаны правильно. */
.list-leave-active {
    position: absolute;
}
